<nav class="app-pagination">
  <!-- first button -->
  <button
    *ngIf="firstLastButtons"
    class="app-pagination__page-item"
    [disabled]="currentPage === 1"
    (click)="selectPageNumber(1)"
  >
    ««
  </button>

  <!-- previous button -->
  <button
    *ngIf="nextPreviousButtons"
    class="app-pagination__page-item"
    [disabled]="currentPage === 1"
    (click)="previous()"
  >
    «
  </button>

  <!-- page numbers -->
  <div *ngFor="let p of totalPages; index as i">
    <button
      *ngIf="i + 1 >= currentPage - maxSize && i + 1 <= currentPage + maxSize"
      class="app-pagination__page-item"
      [class.app-pagination__page-item--active]="currentPage === i + 1"
      (click)="selectPageNumber(i + 1)"
    >
      {{ i + 1 }}
    </button>
  </div>

  <!-- next button -->
  <button
    *ngIf="nextPreviousButtons"
    class="app-pagination__page-item"
    [disabled]="currentPage === totalPages.length"
    (click)="next()"
  >
    »
  </button>

  <!-- last button -->
  <button
    *ngIf="firstLastButtons"
    class="app-pagination__page-item"
    [disabled]="currentPage === totalPages.length"
    (click)="selectPageNumber(totalPages.length)"
  >
    »»
  </button>
</nav>
