.app-pagination {
  display: flex;
  list-style: none;

  &__page-item {
    cursor: pointer;
    padding: 3px 7px;
    margin: 5px;
    position: relative;
    display: block;
    color: #0d6efd;
    text-decoration: none;
    background-color: #fff;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &--active {
      z-index: 3;
      color: #fff;
      background-color: #0d6efd;
      border-color: #0d6efd;
    }
  }
}
